.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*General styles*/
.nav-bar{
  background: linear-gradient(to right, #000000 90%,#000000 5%, #F88200 5%);
  padding: 0rem 0rem!important;
  overflow-x: hidden;
}

.nav-bar > .navbar-nav{
  height: 56px;
}

.nav-bar .nav-link{
  padding: 20px 20px 16px 24px!important;
  width: 60px;
}

.nav-bar .nav-link:not(:first-child) {
  background-color: #F88200;
  border-left: 1px solid #f9ac56;
}

.nav-bar .nav-link{
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.nav-bar svg {
  color: #FFFFFF;
  font-size: 15px;
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);  
  display: inline-block;
}

.carousel-indicators li{
  opacity: unset!important;
  background-color: transparent!important;
  border-radius: 50%!important;
  border: 1px solid #9b9b9b!important;
  height: 10px!important;
  width: 10px!important;
}

.carousel-indicators li.active{
  background-color:  #9b9b9b!important;;
}

.bg-black{
  background-color: #000000;
}

@media (max-width: 464px) {
  .nav-bar .nav-link{
    background-color: #F88200;
    border-left: 1px solid #f9ac56;
  }
  .nav-bar svg {
    font-size: 16px;
  }
}